kind: KubeProxyConfiguration
apiVersion: kubeproxy.config.k8s.io/v1alpha1
clientConnection:
  kubeconfig: "/etc/kube-proxy/kubeconfig"
mode: "{{ kube_proxy_mode }}"
clusterCIDR: "{{ kube_proxy_cluster_cidr }}"
