apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ kube_proxy_ca_cert | b64encode }}
    server: "{{ kube_proxy_server }}"
  name: main
contexts:
- context:
    cluster: main
    user: system:kube-proxy
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: system:kube-proxy
  user:
    client-certificate-data: {{ kube_proxy_host_cert | b64encode }}
    client-key-data: {{ kube_proxy_host_key | b64encode }}
