ETCD_DATA_DIR="/var/lib/etcd/{{ inventory_hostname_short }}.etcd"
ETCD_NAME="{{ inventory_hostname_short }}"

ETCD_LISTEN_CLIENT_URLS=https://0.0.0.0:2379
ETCD_LISTEN_PEER_URLS=https://0.0.0.0:2380
ETCD_ADVERTISE_CLIENT_URLS="{{ etcd_advertise_client_urls }}"

ETCD_INITIAL_ADVERTISE_PEER_URLS={{ etcd_initial_advertise_peer_urls }}
ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_initial_cluster_token }}
ETCD_INITIAL_CLUSTER={{ etcd_initial_cluster }}
ETCD_INITIAL_CLUSTER_STATE=new

# Client TLS
ETCD_TRUSTED_CA_FILE=/etc/etcd/ca.pem
ETCD_CERT_FILE=/etc/etcd/host.crt
ETCD_KEY_FILE=/etc/etcd/host.key
ETCD_CLIENT_CRL_FILE=/etc/etcd/crl.pem
ETCD_CLIENT_CERT_AUTH=true

# Peer-to-Peer TLS
ETCD_PEER_TRUSTED_CA_FILE=/etc/etcd/ca.pem
ETCD_PEER_CERT_FILE=/etc/etcd/host.crt
ETCD_PEER_KEY_FILE=/etc/etcd/host.key
ETCD_PEER_CRL_FILE=/etc/etcd/crl.pem
ETCD_PEER_CLIENT_CERT_AUTH=true
