apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ kube_scheduler_ca_cert | b64encode }}
    server: "{{ kube_scheduler_server }}"
  name: {{ kube_scheduler_cluster_name }}
contexts:
- context:
    cluster: main
    user: system:kube-controller-manager
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: system:kube-controller-manager
  user:
    client-certificate-data: {{ kube_scheduler_client_cert | b64encode }}
    client-key-data: {{ kube_scheduler_client_key | b64encode }}
