[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=-/etc/sysconfig/kube-proxy
ExecStart=/usr/bin/kube-proxy --config=/etc/kube-proxy/kube-proxy.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
